/* Button Primary and Secondary Rewrites */
.btn-primary{
  background-color: #828678 !important;
  border-color: #828678 !important;
}

.btn-primary:hover {
  background-color: #6e756c !important;
  border-color: #6e756c !important;
}

.btn-primary:active {
  background-color: #5c6259 !important;
  border-color: #5c6259 !important;
}

/* Background color of app */
#root, html, body{
  background-color: #D5C7AC;
}

/* Navbar bottom border */
.nav-primary{
  border-bottom: 1px solid #828678 !important;
}

/* Table CSS for  */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    /* border-bottom: 1px solid #828678;  */
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    font-weight: bold;
    font-size: large;
    text-align: left;
  }

  tr {
    text-align: left;
    border-bottom: 1px solid #828678 !important;

  }
  

  .btn {
    margin-left: 4px;
    margin-bottom: 5px;
  }
  .btn-primary .btn-secondary {
    margin-left: 5px;
  }

  .profileImage {
    width: 300px;
    height: auto;
    object-fit: cover;
    float: center;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .logout {
    margin: 10px;
  }

  .FriendSearch {
    margin-top: 20px;
  }

  .Auth-form-container, .about-container, .community-container {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #ECE6DA;
    width: max-content;
    height: max-content;
    border-radius: 30px;
  }

  .navbarcolor:hover {
    color: #6e756c !important;
  }


.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-group-item {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  margin-bottom: 10px;
}
.input-group-item label{
  margin-right: 5px;
}

.small-input {
  width: 50px;
}

.expandable-input {
  height: 100px;
  resize: vertical;
}

.shelf-dropdown{
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
}